header {
  background-color: grey;
  height: 150px;
  text-align: center;
  justify-content: center;
  font-size: 50px;
}

.nav {
  display: flex;
  flex-direction: row;
}

.menu {
  background-color: red;
  padding-right: 50px;
  height: 20px;
}

.menu-options {
  display: contents;
}

.item-close > div {
  left: 8px;
  padding: 0px;  
  position: absolute;
  z-index: -10;
  transition: all 2s ease-in;
}

.item-open > div {
  left: 25px;
  padding: 0 25px;
  position: relative;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: black;
  position: relative;
  animation-name: circle;
  animation-duration: 5s;
}

@keyframes circle {
  0% {
    left: 20px;
    top: 0px;
  }

  20% {
    left: 160px;
    top: 0px;
  }

  40% {
    left: 290px;
    top: 0px;
  }

  60% {
    left: 420px;
    top: 0px;
  }

  80% {
    left: 560px;
    top: 0px;
  }

  100% {
    left: 700px;
    top: 0px;
  }
}