header {
    background-color: grey;
    height: 150px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.menu {
    background-color: red;
    padding-right: 50px;
    height: 20px;
}

.menu-options {
    display: contents;
}

.item {
    padding: 0 50px;
    position: absolute;
    z-index: -10;
}


.circle {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    animation-name: circle;
    //this will work
    animation-duration: 5s;
}

@keyframes circle {

    //beginning point
    0% {
        left: 20px;
        top: 0px;
    }

    //when click on item1
    20% {
        left: 160px;
        top: 0px;
    }

    //when click on item2
    40% {
        left: 290px;
        top: 0px;
    }

    //when click on item3
    60% {
        left: 420px;
        top: 0px;
    }

    //when click on item4
    80% {
        left: 560px;
        top: 0px;
    }

    //when click on item5
    100% {
        left: 700px;
        top: 0px;
    }
}
