html {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: lightgrey;
    color: dimgray;
}

#avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-image: url(pengwenlai.jpg);
    background-size: cover;


}

.container {
    max-width: 500 px;
    margin-top: 40px auto;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
    font-size: 20px;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 24px 0;
    border-bottom: 2px solid lightgrey;
}

section > .job {
    grid-column: 2;
}

section:last-child {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 24px;
    padding-right: 1em;
}


/************************************************
* Personal Information
**************************************************/

img.selfPic {
    width: 200px;
}

.my-name {
    font-size: 50px;
    line-height: 1;
    color: black;
    padding-left: 20px;
}

.my-title {
    font-size: 25px;
    font-weight: 300;
    color: darkblue;
    padding-left: 20px;
}

#my-intro {
    padding-left: 20px;
    font-size: 20px;
}

/************************************************
* Experiences
**************************************************/

.job {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgrey;

}

.job:last-child {
    border-bottom: none;
}


/************************************************
* Skills
**************************************************/

.skills-container {
    list-style-type: disc;
}
