/* ----- VARIABLES -----*/
/* -------------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #ffffff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
/* -------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------------- */
/* ----- HEADING -----*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}
/* ----- BUTTONS -----*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
  background-color: #21BC0F;
  border: 1px solid #21BC0F;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #21BC0F;
  color: #21BC0F;
}
.btn:hover,
.btn:active {
  background-color: #1A8D0D;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #1A8D0D;
  color: #fff;
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #1A8D0D;
  color: #fff;
}
/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */
header {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/doctor2.png);
}
.header-login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/doctor.jpg);
}
.header-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/doctor4.jpg);
}
.header-reservation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/doctor3.jpg);
}
.header-blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/doctor5.jpg);
}
.header-faq {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/doctor6.jpg);
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #21BC0F;
}
/* -------------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------------- */
.aboutContent {
  color: black;
  background-color: rgba(185, 245, 183, 0.44);
  border-radius: 15px 50px;
  position: absolute;
  padding: 50px;
  padding-left: 80px;
  left: 10vw;
  top: 23vh;
  width: 800px;
}
form {
  color: black;
  background-color: rgba(185, 245, 183, 0.44);
  position: absolute;
  width: 410px;
  padding: 40px;
  left: 35vw;
  top: 20vh;
  border-radius: 25px;
  padding-left: 80px;
}
form > input {
  text-decoration: none;
  color: #065306;
  font-weight: bold;
}
form > input:hover {
  color: white;
}
hr {
  margin: 5px;
  width: 50%;
}
.registerForm {
  width: 550px;
  top: 0vh;
}
select {
  width: 100px;
}
textarea {
  margin-top: 5px;
}
form > label {
  color: red;
}
/* -------------------------------------------------------- */
/* BLOG */
/* -------------------------------------------------------- */
.blog,
.faq {
  background-color: rgba(185, 245, 183, 0.44);
  position: absolute;
  width: 1000px;
  padding: 40px;
  left: 10vw;
  top: 20vh;
  border-radius: 25px;
  padding-left: 80px;
}
.blog > h3,
.faq > h3 {
  color: #065306;
}
.blog > h2,
.faq > h2 {
  color: #065306;
  padding-top: 10px;
}
.blog > p,
.faq > p {
  color: black;
  padding-top: 5px;
  overflow: scroll;
  border-bottom: 1px black solid;
  padding: 10px;
}
/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */
footer {
  background-color: #0d6703;
  padding: 40px;
  font-size: 80%;
}
.footer-nav {
  list-style: none;
  float: left;
  display: flex;
  flex-direction: row;
}
.social-links {
  list-style: none;
  float: right;
  display: flex;
  flex-direction: row;
}
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}
.ion-logo-facebook,
.ion-logo-snapchat,
.ion-logo-whatsapp,
.ion-logo-instagram {
  transition: color 0.2s;
}
.ion-logo-facebook:hover {
  color: #3b5998;
}
.ion-logo-snapchat:hover {
  color: #fffc00;
}
.ion-logo-whatsapp:hover {
  color: #25d366;
}
.ion-logo-instagram:hover {
  color: #4c5fd7;
}
ul p {
  padding-top: 30px;
}
footer p {
  color: #bcb9b9;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}
/*# sourceMappingURL=stylesheet.css.map */
/*# sourceMappingURL=styles.css.map */