* {
    box-sizing: border-box;
}

h1 {
    background-color: lightblue;
    margin: 0px;
    padding: 15px;
    padding-left: 20px;
}

.container {
    float: left;
    width: 33.33%;
    padding: 25px;
}

.wrapper {
    min-height: 100vh;
    background: #fae9bd;
    height: 600px;

}

.sideBar {
    width: 300px;
}

.squad {
    float: left;
}

#profilePic {
    width: 380px;
    height: 250px;
    margin-top: 5px;
}
