h1 {
  background-color: lightpink;
}
.wrapper {
  min-height: 100vh;
  background: #ccc;
}
.sideBar {
  background-color: lightblue;
  width: 300px;
}
.squad {
  background-color: blue;
  float: left;
  display: flex;
  flex-direction: row;
}
/*# sourceMappingURL=styles.css.map */