body{
    background-color: #d5eef8;
    padding: 40px;
}

.card {
    color: #0b0bdd;
    border: 2px solid #4ec0fc;
    padding: 35px;
    margin: 15px;
    width: 150px;
    height: 150px;
    float: left;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: darkgreen;

}

a:hover {
    color: #eb7a09;
    font-weight: bold;
}

.back {
    font-size: 20px;
    width: 150px;
    height:10px;
    margin-left: 15px;
}