header {
    background-color: lightpink;
    width: 100%;
    height: 100px;
    text-align: center;

}

.wrapper {
    height: auto;
    background-color: lightgoldenrodyellow;
}

.sidebar {
    background-color: lightgoldenrodyellow;
    float: left;
    width: 200px;
    height: 100px;
}

.favorite {
    background-color: skyblue;
    height: 300px;
    width: 100%;
    //    height: 1855px;
    overflow: visible;
    height: auto;
}

h3 {
    width: 100%;
    display: inline-block;
    padding-left: 20px;

}

.pokemonTable {
    background-color: peachpuff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}

.list {
    border: 1px solid black;
    background-color: aquamarine;
    width: 150px;
    height: 185px;
    padding: 30px;
    margin: 20px;
    padding-bottom: 45px;

    &:hover {
        background-color: #6c1bbe;
        color: white;
        font-weight: bold;
    }
}

table,
th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 10px;

}

tr:hover {
    background-color: #6c1bbe;
    color: white;
    font-weight: bold;
}

button {
    font-size: 15px;
    border-radius: 8px;
    margin-top: 3px;

    &:hover {
        background-color: red;
    }
}
