//-----------------------narow screen-----------------------
@media screen and (max-width: 814px) {
  /* If [device width] is < less than or equal to 814px, then do... */
  body {
    font-family: @font-family;
    display: grid;
    grid-template-rows: 40px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-areas: "title" "item" "item" "item" "item" "item" "item" "item";
  }

  .container {
    display: grid;
    grid-template-rows: 300px 450px;
    grid-template-areas: "bargraph" "flexbottom";
  }

  .title {
    grid-area: title;
  }

  .topmenu {
    grid-area: item;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: @theme_background;

    > div:nth-child(odd) {
      background: @theme_background;

      &:hover {
        background: lighten(@theme_background, 60%);
      }
    }

    > div:nth-child(even) {
      background: lighten(@theme_background, 12%);

      &:hover {
        background: lighten(@theme_background, 60%);
      }
    }
  }

  div.topmenu .item {
    text-align: left;
    width: auto;
  }

  .sidebar {
    display: none;
  }
  //------------------------baragraph------------------------------
  .bargraph {
    grid-area: bargraph;
    display: grid;
    grid-template-columns: repeat(9,3em);
    grid-template-rows: repeat(8,1.5em);
    background-color: @theme_background;
    padding-top: 30px;
  }

  .bar1 {
    grid-row: 2;
    grid-column: e("1 / span") 6;
    background-color: @narrowbarcolor;
  }

  .bar2 {
    grid-row: 4;
    grid-column: e("1 / span") 4;
    background-color: @narrowbarcolor;
  }

  .bar3 {
    grid-row: 6;
    grid-column: e("1 / span") 8;
    background-color: @narrowbarcolor;
  }

  .bar4 {
    grid-row: 8;
    grid-column: e("1 / span") 3;
    background-color: @narrowbarcolor;
  }
  //------------------------flexbottom------------------------------
  .flexbottom {
    background-color: lighten(@theme_background, 20%);
    height: 1050px;
    grid-area: flexbottom;
    display: flex;
    flex-direction: column;

    > h2 {
      font-size: 30px;
    }

    > .mon {
      width: 100%;
      border: 1px solid black;
      border-radius: @radiusbox;
      margin: 1px;
      background-image: radial-gradient(circle, #741A7A, #310634);
      //bold for "name:"
      > div:first-child {
        font-weight: bold;
        color: blue;
      }

      > div:nth-child(2),
      div:nth-child(3),
      div:nth-child(4) {
        color: cyan;
      }
    }
  }
}
//---------------------------variables----------------------------
@theme_background: #800080;
@radius: 10px;
@widebarcolor: #006600;
@narrowbarcolor: red;
@flexbackground: #D338DE;
@radiusbox: 10px;
@font-family: Arial, Helvetica,sans-serif; //---------------------------main part---------------------------
@media screen and (min-width: 814px) {
  /* If [device width] is  > greater than or equal to 814px, then do... */
  body {
    font-family: @font-family;
    display: grid;
    grid-template-rows: 40px 20px;
    grid-template-columns: 250px 800px;
    grid-template-areas: "title title" "item item";
  }

  .container {
    display: grid;
    grid-template-rows: 250px 450px;
    grid-template-columns: 250px 800px;
    grid-template-areas: "sidebar bargraph" "sidebar flexbottom";
  }
  //-------------------------item-----------------------------------
  .topmenu {
    grid-area: item;
    display: flex;
    flex-direction: row;
    background: darken(@theme_background, 12%);
    color: white;
    border-radius: @radius;
    margin-left: 90px;
    margin-right: 90px;
    justify-content: space-around;

    > div {
      &:hover {
        background: lighten(@theme_background, 50%);
      }
    }
  }

  div.topmenu .item {
    align-items: center;
    text-align: center;
  }
  //----------------------gradient background-------------------------
  //Demonstration on how loop can be useful
  //Make a table where the rows gradually change color
  //Counter has a default value, so user doesn't need to put in @counter
  // .item_gradient(@color, @change, @repeat, @counter: 0) when (@counter < @repeat) {
  //   .item:nth-child(@{repeat}n + @{counter}) {
  //     background: @theme_background;
  //     color: contrast($background);
  //     //Using prooperties as variables again
  //   }
  //   .item_gradient(darken(@color, @change), @change, @repeat, @counter + 1);
  //   //Recursive call, changing the counter when we call
  // }
  // //Generate the styles for the rows for the table
  // div.topmenu .item {
  //   //Goes from pink to red, in 6 steps then repeats
  //   .item_gradient(@theme_background, 10%, 6);
  // }
  //-------------------------sidebar---------------------------------
  .sidebar {
    background-color: @theme_background;
    grid-area: sidebar;
    padding-left: 50px;
    padding-top: 50px;
  }
  //when hover over one item each
  .subItem {
    display: none;
  }

  .item:hover {
    font-weight: bold;
  }

  .item:hover .subItem {
    display: block;
    font-weight: bold;
    padding-left: 20px;

    &:hover {
      color: red;
    }
  }
  //------------------------baragraph------------------------------
  .bargraph {
    grid-area: bargraph;
    display: grid;
    grid-template-columns: repeat(8,3em);
    grid-template-rows: repeat(8,2em);
    background-color: @theme_background;
    padding-left: 100px;
  }

  .bar1 {
    grid-column: 2;
    grid-row: e("3 / span") 6;
    background-color: @widebarcolor;
  }

  .bar2 {
    grid-column: 4;
    grid-row: e("5 / span") 4;
    background-color: @widebarcolor;
  }

  .bar3 {
    grid-column: 6;
    grid-row: e("2 / span") 7;
    background-color: @widebarcolor;
  }

  .bar4 {
    grid-column: 8;
    grid-row: e("6 / span") 3;
    background-color: @widebarcolor;
  }
  //-----------------------flexbottom------------------------------
  .flexbottom {
    grid-area: flexbottom;
    display: flex;
    flex-direction: row;
    background-color: @flexbackground;
    flex-wrap: wrap;

    > h2 {
      width: 100%;
      font-weight: bold;
    }
  }

  .mon {
    border-radius: @radiusbox;
    width: 150px;
    height: 100px;
    border: 1px solid black;
    margin: 1px;
  }
  //bold for "name:"
  .mon > div:first-child {
    font-weight: bold;
  }

  .mon:nth-child(even) {
    background-image: linear-gradient(to right, #741A7A, #310634);
  }

  .mon:nth-child(odd) {
    background-image: linear-gradient(to left, #741A7A, #310634);
  }
}
//-------------same part for both window size--------------------
//-------------------------title---------------------------------

.title {
  grid-area: title;
  background-image: linear-gradient(to right, #800080, #FD7FFD);
  color: black;
  font-size: 30px;
  text-align: center;
}